<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css">
</head>
   
<body>
    <section>
        <nav>
            <div class="nav-container">
                <a href="#" class="nav-logo">url-shortner</a>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/signup">SignUP</a></li>
                    <li><a href="/login">Login</a></li>
                  
                </ul>
            </div>
        </nav>
    </section>

    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
        <p>URL Generated: https://url-shortner-6hyy.onrender.com/<%= id %></p>
        <button class="copy-btn" data-copy="https://url-shortner-6hyy.onrender.com/<%= id %>">Copy</button>
        <button class="search-btn" onclick="searchShortUrl('<%= id %>')">Search</button>
        <button class="search-btn" onclick="window.history.back()">Go Back</button>
    <% } %>
    <div>
        <form method="POST" action="/url">
            <label>Enter Your Original URL</label>
            <input type="text" 
            name="url" 
            placeholder="https://example.com">
            <button class="n-btn" type="submit">Generate</button> 
        </form>
    </div>
    <div>
        <% if(locals.urls) {%>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>ShortId</th>
                        <th>Redirect</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.redirectURL %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>    
                   
                
            </table>
        <% } %>

        <ul>
            <% if (locals.urls) { %>
                <% urls.forEach((url) => { %>
                    <li>
                        <a href="<%= url.redirectURL %>" target="_blank"><%= url.redirectURL %></a>
                        - Short ID: https://url-shortner-6hyy.onrender.com/<%= url.shortId %>
                        <button class="copy-btn" data-copy="https://url-shortner-6hyy.onrender.com/<%= url.shortId %>">Copy</button>
                        <button class="search-btn" onclick="searchShortUrl('<%= url.shortId %>')">Search</button>
                        <form method="POST" action="/delete/<%= url._id %>" style="display:inline;">
                            <button class="n-btn" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            <% } %>
             
        </ul>
    </div>
</body>
<script>
    
    const copyButtons = document.querySelectorAll('.copy-btn');

    copyButtons.forEach(button => {
        button.addEventListener('click', () => {
            const textToCopy = button.getAttribute('data-copy'); 
            navigator.clipboard.writeText(textToCopy).then(() => {
               
                alert(`Copied: ${textToCopy}`);
            }).catch(err => {
                console.error('Failed to copy text:', err);
                alert('Failed to copy. Please try again.');
            });
        });
    });
    function searchShortUrl(shortId) {
        const shortUrl = `https://url-shortner-6hyy.onrender.com/${shortId}`;
        window.open(shortUrl, '_blank');
    }
</script>
</html>